:root {
    --font-color: black;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: floralwhite;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

header {
    padding-top: 40px;
}

header h1 {
    display: flex;
    justify-content: center;
}

main {
    width: auto;
    max-width: 600px;
    margin: 50px auto 0 auto;
    padding: 20px;
    box-shadow: 0px 4px 8px rgb(89 73 30 / 30%);
    background-color: #fffcf5;
}

main .elem{
    display: flex;
    justify-content: center;
    margin: 20px;
}

#dibujo {
    border: 1px solid #dfe1e5;
}

.input {
    display: flex;
    justify-content: center;
    width: auto;
    min-width: 150px;
    max-width: 300px;   
    margin: 20px auto;
    border: 2px solid #dfe1e5;
    border-radius: 15px;
}

.input:hover {
    outline: 1px solid #464646 ;
}

.input input {
    border: none;
    outline: none;
}

#inputnumero {
    width: 78%;
}

#dibujarnumero{
    width: 18%;
    background-color: inherit;
    cursor: pointer;
}

.main-text {
    width: auto;
    min-width: 300px;
    max-width: 500px;
    margin: 0 auto;
}

.main-text p {
    width: fit-content;
    margin: 10px auto;
}

#mensaje{
    height: 16px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.footer-left {
    position: absolute;
    left: 10px;
    margin-left: 20px;
}

.footer-left a{
    color: var(--font-color);
}

.footer-right {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 10px;
    list-style: none;
}

.footer-right li {
    margin-right: 20px;
}

.footer-right a{
    color: var(--font-color);
}